.fav-btn {
  background: $bg-color;
  color: $white;
  font-weight: 600;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  margin-top: 5.7em !important;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  &.align {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10%;
    left: 0%;
    transform: translateX(-50%);
  }
}

.fav-container {
  background: rgba(#ccc, 0.2);
  margin-left: 0.7em;
  padding: 0 0.2em;
  margin-top: 0.5em;
  max-height: 15em;
  overflow-y: auto;
  .fav-detail-btn {
    margin-top: 0.2em;
    padding: 0.25em 0.5em;
    background: $text-color;
    color: $white;
    border-radius: 0.25em;
    margin-left: 0.35em;
    max-width: 12.7em;
  }
}
