::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: $content-color;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: $text-color;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $white;
}