$black: #000;
$white: #ffffff;
$bg-color: #e6e6e6;
$text-color: #0b536b;
$content-color: #48b7e4;
$link-color: #663399;
$gradient: linear-gradient(0deg, rgba(11, 83, 107, 1) 0%, rgba(81, 136, 154, 1) 40%, rgba(11, 83, 107, 1) 100%);
