/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style-type: none;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
  @media (min-width: 2200px) {
  }
  html {
    font-size: 2vh;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-sizing: none;
}

img {
  display: block;
  max-width: 100%;
}
/*****************************************/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");
@import './variable';
@import './scroll-bar';
@import './books-renderer';
@import './filters';
@import './title';
@import './sort';


body {
  background: $bg-color;
}

